<h1 class="mt-3 mb-3">Players</h1>


<button type="button" [routerLink]="['/add-player']" class="btn btn-dark">Add player</button>

<table class="table">

    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let tempPlayer of players">
            <td>{{ tempPlayer.name}}</td>
            <td>
                <button type="button" class="btn btn-dark" [routerLink]="['/loans/player', tempPlayer.id]"> 
                    Unpaid loans
                </button>
            </td>
        </tr>

    </tbody>
</table>