<div class="modal-body">


    <div class="form-group">
        <label for="title">Player</label>
        <select class="form-control" [(ngModel)]="player">
            <option selected>--Select--</option>
            <option *ngFor="let tempPlayer of playersList" value="{{tempPlayer.id}}">
                {{tempPlayer.name}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="title">Sum</label>
        <input type="text" class="form-control" id="sum" required [(ngModel)]="sum" name="sum" />
    </div>
</div>
<div class="modal-footer">
    <button (click)="addLoan()" class="btn btn-dark">Add</button>
</div>